.light {
    background-color: #dfdfdf;
    margin: 0;
    text-align: center;
    color: black;
}
.dark {
    background-color: #4b4b4b;
    margin: 0;
    text-align: center;
    color: whitesmoke;
}
.contrast {
    background-color: #1a1a1a;
    margin: 0;
    text-align: center;
    color: black;
}
.light .body, .light .footer, .light .heading {
    background-color:whitesmoke;
    border: 1px solid black;
}
.dark .body, .dark .footer, .dark .heading {
    background-color:rgb(59, 59, 59);
    border: 1px solid white;
}
.contrast .body, .contrast .footer, .contrast .heading {
    background-color:whitesmoke;
    border: 1px solid black;
}
h2, h3 {
    font-variant: small-caps;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
ul, li {
    list-style: none;
    width: fit-content;
    text-align: left;
    margin: 0 auto;
}
li.parent {
    list-style: inside;
}
.heading {
    border-radius: 15px;
    padding: 20px 50px;
    margin-top: 15px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer {
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 10px 100px;    
    border-radius: 15px;
}
.body {
    font-variant: small-caps;
    border-radius: 15px;
    padding: 20px 50px;
    word-wrap: break-word;
    width: 80vw;
    margin: 0 auto;
    margin-top: 15px;
}
.body:last-of-type {
    margin-bottom: 60px;
}
table {
    margin: 0 auto;
    text-align: center;
}
input[type='text'], input[type='password'], select {
    height: 25px;
    width: 175px;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 2px;
}
input[type='submit'] {
    height: 25px;
    font-variant: small-caps;
    padding: 0px 20px;
}
.setuptable {
    border-collapse: collapse;
    border: 1px solid black;
}
.setuptable td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px 25px;
}
.setuptable td:nth-child(even) {
    background-color: #cc7700;
}
.setuptable th {
    background-color: #a0a0a0;
}
.email {
    display: none;
}
#settingsTable {
    margin-top: 25px;
}
#settingsTable td {
    width: 250px;
}