*, *:before, *:after {
    box-sizing: inherit;
}
.light {
    --bgc: #dfdfdf;
    --dbgc: whitesmoke;
    --fgc: black;
    --db: 1px solid black;
    --lul: 1px solid slategray;
    --trl: inherit; 
    --trd: #4e4e4e;
    --ufgc: orange;
}

.dark {
    --bgc: #4b4b4b;
    --dbgc: rgb(59, 59, 59);
    --fgc: whitesmoke;
    --db: 1px solid white;
    --lul: 1px solid orange;
    --trl: #7b7b7b; 
    --trd: #4e4e4e;
    --ufgc: orange;
}
.contrast {
    --bgc: #1a1a1a;
    --dbgc: whitesmoke;
    --fgc: black;
    --db: 1px solid black;
    --lul: 1px solid slategray;
    --trl: inherit; 
    --trd: #4e4e4e;
    --ufgc: orange;
}
body {
    background-color: var(--bgc);
    color: var(--fgc);
    margin: 0;
    text-align: center;
    margin-top: 75px;
}
a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}
.body, .footer, .heading {
    background-color: var(--dbgc);
    border: var(--db);
}
h2, h3 {
    font-variant: small-caps;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
ul, li {
    list-style: none;
    width: fit-content;
    text-align: left;
    margin: 0 auto;
}
li.parent {
    list-style: inside;
}
.heading {
    border-radius: 15px;
    padding: 20px 50px;
    margin-top: 15px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer {
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 10px 100px;    
    border-radius: 15px;
}
.body {
    font-variant: small-caps;
    border-radius: 15px;
    padding: 20px 50px;
    word-wrap: break-word;
    width: 80vw;
    margin: 0 auto;
    margin-top: 15px;
}
body > div:last-of-type {
    margin-bottom: 60px;
}
table {
    margin: 0 auto;
    text-align: center;
}
.grid {
    margin-top: 20px;
    border: var(--db);
    border-collapse: collapse;
    width: 90%;
}
.grid td {
    table-layout: fixed;
}
.grid tr:nth-child(even) {
    background-color: var(--trl);
}
.grid tr:nth-child(odd) {
    background-color: var(--trd);
}
.grid th {
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    overflow-wrap:normal!important;
}
.percentBar {
    width: 75px;
    background-color: #616161!important;
    margin: 0 auto;
    color: #ffffff!important;
    overflow-wrap:normal!important;
}
.percentage {
    color: #ffffff!important;
    background-color:#93deff!important;
}
.chartable td {
    width: 10%;
}
input[type='text'], input[type='password'],input[type='email'], select {
    height: 25px;
    width: 175px;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 2px;
}
input[type='submit'] {
    height: 25px;
    font-variant: small-caps;
    padding: 0px 20px;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: var(--db);    
    z-index: 5;
    background-color: var(--dbgc);
}
.menubutton {
    display: inline-block;
    padding: 15px 25px;
    width: 100px;
    min-height: 20px;
    background-color: var(--dbgc);
}
.menubutton:hover {
    cursor: pointer;
    border-bottom: var(--lul);
    border-left: var(--lul);
}
.active {
    border-bottom: var(--lul);
    border-left: var(--lul);
}
.submenu {
    display: none;
    position: absolute;
    margin-left: -27px;
    margin-top: 18px;
    border: 1px solid black;
    z-index: 10;
    background-color: var(--dbgc);
}
.submenu2 {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: var(--dbgc);
    color: var(--fgc);
    border-radius: 5px;
    padding: 0;
    margin-left: 15px;
    /*display: none;
    border: 1px solid black;
    z-index: 15;
    background-color: var(--dbgc);*/
}
.submenu .menubutton, .submenu2 .menubutton {
    display: block;
}
.dropdown:hover > .submenu, .dropdown:hover > .submenu2 {
    display:block;
}
#loginbgdiv {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
#logindiv {
    margin: 0 auto;
    position: relative;
    background-color: var(--dbgc);
    color: var(--fgc);
    width: fit-content;
    padding: 30px;
    border: var(--db);
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.itemsTable {
    border-collapse: initial;
}
.itemsTable > tbody > tr > td {
    width: 25%;
    vertical-align:top;
}
.items {
    width: 100%
}
.items td{
    color:var(--fgc);
    font-weight: bold;
    font-variant: small-caps;
}
.items td:nth-child(1) {
	width: 35%;
	border-right: 1px solid black;
}
/*.items td:nth-child(2) {
	border-right: var(--db);
}*/
.items a, .items a:active, .items a:visited, .items a:link {
    color: var(--fgc)!important;
}
.third {
    display: inline-block;
    width: 20%;
    margin: 15px;
    vertical-align: top;
}
.username {
    float: right;
    color: var(--ufgc);
    font-weight: bold;
    font-variant: small-caps;
}
.clanicon {
    width: 22px;
    height: 22px;
}